<template>
	<div class="content-item">
		<el-row :gutter="10">
			<el-col :span="3" v-if="content.thumbnail">
				<ContentItemThumbnail
					:url="content.url"
					:thumbnail="content.thumbnail"
					:thumbnail_dimensions="content.thumbnail_dimensions"
					:title="content.title"
				/>
			</el-col>
			<el-col :span="content.thumbnail ? 21 : 24">
				<ContentItemHead
					:is_comment="content.is_comment"
					:title="content.title"
					:url="content.url"
					:link_url="content.link_url"
				/>
				<div class="content-item__info">
					<span v-once>
						<el-tag type="danger" size="mini" v-if="content.nsfw">NSFW</el-tag>
						by
						<a :href="authorLink" v-if="content.author !== '[deleted]'">
							{{ content.author }}
						</a>
						<span v-else>{{ content.author }}</span>
						to
						<a :href="subredditLink">/r/{{ content.subreddit }}</a>
						<el-tooltip placement="top">
							<div slot="content" style="text-align: center">
								{{ new Date(content.created * 1000).toLocaleDateString() }}
								<br />
								{{ new Date(content.created * 1000).toLocaleTimeString() }}
							</div>
							<span> {{ postedDistance }}</span>
						</el-tooltip>
					</span>
					&nbsp;
					<a
						@click.prevent="showComment = !showComment"
						href="#"
						v-if="content.is_comment"
					>
						<font-awesome-icon
							icon="plus-circle"
							v-if="!showComment"
						></font-awesome-icon>
						<font-awesome-icon
							icon="minus-circle"
							v-if="showComment"
						></font-awesome-icon>
					</a>
				</div>
				<el-collapse-transition>
					<div
						class="content-item__comment-body"
						v-if="content.is_comment"
						v-show="showComment"
					>
						<span v-html="content.body_html" v-once></span>
					</div>
				</el-collapse-transition>
				<ContentItemActions
					:likes="content.likes"
					:saved="content.saved"
					:hidden="content.hidden"
					:archived="content.archived"
					:is_comment="content.is_comment"
					:all_comments_link="content.all_comments_link"
					:score="content.score"
					:num_comments="content.num_comments"
					:permalink="content.permalink"
					:votingInProgress="votingInProgress"
					:toggleSaveInProgress="toggleSaveInProgress"
					:toggleHideInProgress="toggleHideInProgress"
					@vote="vote"
					@toggleSave="toggleSave"
					@toggleHide="toggleHide"
				/>
			</el-col>
		</el-row>
	</div>
</template>

<script>
import distanceInWordsToNow from 'date-fns/distance_in_words_to_now';

import ContentItemThumbnail from './ContentItemThumbnail';
import ContentItemHead from './ContentItemHead';
import ContentItemActions from './ContentItemActions';

export default {
	name: 'ContentItem',
	data() {
		return {
			votingInProgress: false,
			toggleSaveInProgress: false,
			toggleHideInProgress: false,
			showComment: true
		};
	},
	computed: {
		authorLink() {
			return 'https://www.reddit.com/user/' + this.content.author;
		},
		subredditLink() {
			return 'https://www.reddit.com/r/' + this.content.subreddit;
		},
		postedDistance() {
			const postDate = new Date(this.content.created * 1000);
			return distanceInWordsToNow(postDate) + ' ago';
		}
	},
	methods: {
		vote(action) {
			this.votingInProgress = true;
			this.$store
				.dispatch('votePost', {
					action,
					postId: this.content.id
				})
				.finally(() => {
					this.votingInProgress = false;
				});
		},
		toggleSave() {
			this.toggleSaveInProgress = true;
			this.$store
				.dispatch('toggleSavePost', {
					postId: this.content.id
				})
				.finally(() => {
					this.toggleSaveInProgress = false;
				});
		},
		toggleHide() {
			this.toggleHideInProgress = true;
			this.$store
				.dispatch('toggleHidePost', {
					postId: this.content.id
				})
				.finally(() => {
					this.toggleHideInProgress = false;
				});
		}
	},
	props: ['content'],
	components: {
		ContentItemThumbnail,
		ContentItemHead,
		ContentItemActions
	}
};
</script>

<style scoped>
.content-item {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	position: relative;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin-bottom: -1px;
	padding: 10px 10px;

	color: #2c3e50;
	border: 1px solid #d7dae2;
	background-color: #f2f6fc;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.content-item::after {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	content: '';
	transition: opacity 0.1s ease-in;

	opacity: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.08),
		0 0 8px rgba(0, 0, 0, 0.04);
}
.content-item:hover {
	z-index: 2;
}
.content-item:hover::after {
	opacity: 1;
}
.content-item:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.content-item__info {
	font-size: 13px;

	margin-bottom: 8px;

	color: #788692;
}
.content-item__info a {
	text-decoration: underline;

	color: #788692;
}
.content-item__info a:hover {
	text-decoration: none;

	color: #378fe0;
}

.content-item__comment-body {
	overflow: auto;

	margin-bottom: 8px;
	padding: 0 20px;

	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	background-color: #f9fafc;
}
</style>
