<template>
	<div class="item-actions">
		<el-button-group class="action__vote">
			<el-button
				size="mini"
				v-if="!archived"
				:disabled="!authorized"
				:type="likes ? 'primary' : ''"
				:loading="votingInProgress"
				@click="$emit('vote', 'upvote')"
			>
				<font-awesome-icon icon="chevron-up"></font-awesome-icon>
			</el-button>
			<el-button
				size="mini"
				:type="likes ? 'primary' : likes === false ? 'danger' : ''"
				:disabled="archived"
			>
				<font-awesome-icon icon="lock" v-if="archived"></font-awesome-icon>
				{{ score | abbreviateNumber }}
			</el-button>
			<el-button
				size="mini"
				v-if="!archived"
				:disabled="!authorized"
				:type="likes === false ? 'danger' : 'plain'"
				:loading="votingInProgress"
				@click="$emit('vote', 'downvote')"
			>
				<font-awesome-icon icon="chevron-down"></font-awesome-icon>
			</el-button>
		</el-button-group>
		<el-button
			class="action__save"
			size="mini"
			:disabled="!authorized"
			:loading="toggleSaveInProgress"
			:type="saved ? 'primary' : ''"
			@click="$emit('toggleSave')"
		>
			<font-awesome-icon
				:icon="[saved ? 'fas' : 'far', 'bookmark']"
				v-show="!toggleSaveInProgress"
			></font-awesome-icon>
		</el-button>
		<el-tooltip :content="hidden ? 'Unhide' : 'Hide'" placement="top">
			<el-button
				class="action__hide"
				size="mini"
				v-if="!is_comment"
				:disabled="!authorized"
				:loading="toggleHideInProgress"
				:type="hidden ? 'warning' : ''"
				@click="$emit('toggleHide')"
			>
				<font-awesome-icon
					:icon="['far', hidden ? 'eye' : 'eye-slash']"
					v-show="!toggleHideInProgress"
				></font-awesome-icon>
			</el-button>
		</el-tooltip>
		<span class="action__links" v-once>
			<a
				:href="redditPermalink"
				class="link__context el-button el-button--mini el-button--default"
				target="_blank"
				v-if="is_comment"
			>
				Context
			</a>
			<a
				:href="is_comment ? this.all_comments_link : redditPermalink"
				class="link__comments el-button el-button--mini el-button--default"
				target="_blank"
			>
				{{ num_comments | abbreviateNumber }} Comments
			</a>
		</span>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'ContentItemActions',
	computed: {
		...mapGetters(['authorized']),
		redditPermalink() {
			return 'https://www.reddit.com' + this.permalink;
		}
	},
	filters: {
		abbreviateNumber(value) {
			return value > 999 ? (value / 1000).toFixed(1) + 'k' : value;
		}
	},
	props: [
		'likes',
		'saved',
		'hidden',
		'archived',
		'is_comment',
		'all_comments_link',
		'score',
		'num_comments',
		'permalink',
		'votingInProgress',
		'toggleSaveInProgress',
		'toggleHideInProgress'
	]
};
</script>

<style scoped>
.item-actions .action__vote .el-button {
	line-height: 1.2;

	padding: 6px 8px;
}
.item-actions .action__save {
	margin-left: 5px;
	padding: 6px 8px;
}
.item-actions .action__hide {
	margin-left: 5px;
	padding: 6px 8px;
}
.item-actions .action__links {
	margin-left: 5px;
}
.item-actions .action__links .link__context,
.item-actions .action__links .link__comments {
	font-family: system-ui;

	margin-left: 5px;
	padding: 6px 8px;

	text-decoration: none;
}
</style>
