<template>
	<div class="item-head" v-once>
		<div class="link--post" v-if="!is_comment">
			<a :href="url">{{ title }}</a>
		</div>
		<div class="link--comment" v-else>
			<font-awesome-icon icon="comment-alt"></font-awesome-icon>
			Comment on <a :href="link_url">{{ title }}</a>
			<hr />
		</div>
	</div>
</template>

<script>
export default {
	name: 'ContentItemHead',
	props: ['is_comment', 'url', 'link_url', 'title']
};
</script>

<style scoped>
.item-head {
	margin-bottom: 8px;
}
.item-head .link--post a {
	text-decoration: none;

	color: #303133;
}
.item-head .link--comment {
	font-size: 11px;
}
.item-head .link--comment a {
	font-weight: bold;

	text-decoration: none;

	color: #303133;
}
.item-head .link--comment hr {
	height: 1px;

	border: none;
	background-color: #d9d9d9;
}
</style>
