<template>
	<div class="item-thumbnail">
		<a :href="url" v-once>
			<img
				v-if="thumbnail === 'nsfw'"
				src="https://via.placeholder.com/120x75.png?text=NSFW"
				:alt="title"
				class="lozad"
			/>
			<img
				v-else-if="thumbnail === 'spoiler'"
				src="https://via.placeholder.com/120x75.png?text=SPOILER"
				:alt="title"
				class="lozad"
			/>
			<img
				v-else
				:height="thumbnail_dimensions.height"
				:width="thumbnail_dimensions.width"
				src="https://via.placeholder.com/120x120.png?text=loading"
				:data-src="thumbnail"
				:alt="title"
				class="lozad"
			/>
		</a>
	</div>
</template>

<script>
import lozad from 'lozad';

export default {
	name: 'ContentItemThumbnail',
	props: ['url', 'thumbnail', 'thumbnail_dimensions', 'title'],
	mounted() {
		const observer = lozad(this.$el.querySelector('.lozad'));
		observer.observe();
	}
};
</script>

<style scoped>
.item-thumbnail {
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: row;

	width: 100%;
	max-height: 80px;

	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}
.item-thumbnail a {
	text-decoration: none;
}
.item-thumbnail img {
	display: block;

	max-width: 100%;
}
</style>
