<template>
	<div class="saved-page">
		<!-- <router-link to="/hidden" v-if="authorized">Hidden</router-link> -->
		<FilterContent v-if="loadedSaved" />
		<div v-if="loadedSaved" class="list-info">
			Showing
			{{ filteredSavedList.length }}
			<span v-if="totalSavedCount !== filteredSavedList.length">
				of {{ totalSavedCount }}
			</span>
			items
			<el-button
				type="primary"
				icon="el-icon-refresh"
				size="small"
				:loading="loadingSaved"
				:disabled="!authorized"
				@click="refreshSaved"
			></el-button>
		</div>

		<ContentList
			v-if="loadedSaved"
			:content-list="filteredSavedList"
		/>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

import ContentList from '@/components/ContentList';
import FilterContent from '@/components/FilterContent';

export default {
	name: 'SavedPage',
	components: {
		ContentList,
		FilterContent
	},
	computed: {
		...mapGetters([
			'authorized',
			'loadingSaved',
			'loadedSaved',
			'filteredSavedList',
			'totalSavedCount'
		])
	},
	created() {
		if (this.authorized && !this.loadedSaved) {
			this.$store.dispatch('loadSavedList');
		}
	},
	methods: {
		refreshSaved() {
			this.$store.dispatch('loadSavedList');
		}
	}
};
</script>

<style scoped>
.saved-page {
	width: auto;
}
.list-info {
	width: auto;
	margin-bottom: 10px;

	text-align: right;
}
</style>
