<template>
<el-container class="container">
	<el-main class="main-container">
			<el-row type="flex" class="row-bg" justify="center">
				<div class="main-content">
					<div class="authorize-link__help-text">
						Authorizing...
					</div>
					<font-awesome-icon icon="spinner" pulse></font-awesome-icon>
				</div>
			</el-row>
		</el-main>
</el-container>
</template>

<script>
export default {
	name: 'Token',
	data() {
		return {};
	},
	created() {
		this.$store.dispatch('authorize', this.$route.query.code).then(() => {
			this.$router.push('/');
		});
	},
	render() {
		return ``;
	}
};
</script>

<style scoped>
.main-content {
	margin-top: 30px;

	text-align: center;
}
</style>
