<template>
	<div class="scroller content-list">
		<ContentItem
			v-for="item in contentList.slice(
				pageSize * (currentPage - 1),
				pageSize * currentPage
			)"
			:key="item.id"
			:content="item"
		/>
		<div class="intersection-ref" v-show="contentList.length > pageSize">
			<div
				class="content-list__pagination"
				:class="{ 'pagination--fixed': fixPagination }"
			>
				<el-pagination
					background
					layout="sizes, prev, pager, next, jumper"
					:total="contentList.length"
					:page-sizes="[10, 25, 50]"
					:current-page.sync="currentPage"
					:page-size.sync="pageSize"
				></el-pagination>
			</div>
		</div>
	</div>
</template>

<script>
import ContentItem from './ContentItem/ContentItem';

export default {
	name: 'ContentList',
	data() {
		return {
			currentPage: 1,
			pageSize: 10,
			fixPagination: false
		};
	},
	mounted() {
		if (this.contentList.length <= this.pageSize) {
			return;
		}

		let observer = new IntersectionObserver(
			(entries, observer) => {
				this.fixPagination = !entries[0].isIntersecting;
				if (this.fixPagination) {
					let width = this.$el.querySelector('.intersection-ref').offsetWidth;
					this.$el.querySelector('.content-list__pagination').style.width =
						width + 'px';
				} else {
					this.$el
						.querySelector('.content-list__pagination')
						.style.removeProperty('width');
				}
			},
			{ threshold: 1 }
		);
		observer.observe(this.$el.querySelector('.intersection-ref'));
	},
	watch: {
		contentList(newVal, oldVal) {
			if (newVal.length < this.pageSize * (this.currentPage - 1)) {
				this.currentPage = Math.ceil(newVal.length / this.pageSize);
			}
		}
	},
	components: {
		ContentItem
	},
	props: ['contentList']
};
</script>

<style scoped>
.content-list {
	box-sizing: border-box;
	width: 100%;
	height: 100%;

	border: 0 solid;
	border-radius: 5px;
}

.content-list__pagination {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;

	text-align: center;

	border: 1px solid #eaeefb;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #f9fafc;
}
.content-list__pagination.pagination--fixed {
	position: fixed;
	z-index: 5;
	bottom: 0;

	border-radius: 0;
	background-color: rgba(249, 250, 252, 0.9);
}
.intersection-ref {
	height: 54px;
}
</style>
