<template>
	<div class="filter-container">
		<el-row :gutter="10">
			<el-col :span="16">
				<el-input placeholder="Search title" v-model="filterText" clearable>
					<font-awesome-icon
						class="el-input__icon"
						style="margin-left: 5px"
						icon="search"
						slot="prefix"
					></font-awesome-icon>
				</el-input>
			</el-col>
			<el-col :span="8">
				<el-select
					v-model="filterSubreddits"
					multiple
					filterable
					clearable
					collapse-tags
					placeholder="Filter by subreddit"
				>
					<el-option
						v-for="item in savedSubreddits"
						:key="item.subreddit"
						:value="item.subreddit"
					>
						<span>{{ item.subreddit }}</span>
						<el-tag class="filter__select__count" size="mini">
							{{ item.count }}
						</el-tag>
					</el-option>
				</el-select>
			</el-col>
		</el-row>
		<el-row>
			<el-checkbox v-model="filterNSFWCheck">NSFW</el-checkbox>
		</el-row>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'FilterContent',
	data() {
		return {};
	},
	computed: {
		...mapGetters(['filter', 'savedSubreddits']),
		filterText: {
			get() {
				return this.filter.text;
			},
			set(value) {
				this.$store.commit('setFilterText', value);
			}
		},
		filterSubreddits: {
			get() {
				return this.filter.subreddits;
			},
			set(value) {
				this.$store.commit('setFilterSubreddits', value);
			}
		},
		filterNSFWCheck: {
			get() {
				return this.filter.nsfw;
			},
			set(value) {
				this.$store.commit('setFilterNSFW', value);
			}
		}
	}
};
</script>

<style scoped>
.filter-container {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 20px 10px 10px 10px;

	color: #2c3e50;
	border: 1px solid #d7dae2;
	border-radius: 5px;
	background-color: #f2f6fc;
}
.el-row {
	margin-bottom: 10px;
}
.el-select {
	width: 100%;
}
.filter__select__count {
	position: relative;
	top: 50%;
	right: 20px;

	float: right;

	transform: translateY(-50%);
}
</style>
