<template>
	<el-header class="header-container">
		<div class="header-content">
			<span class="branding">
				<font-awesome-icon :icon="['fab', 'reddit-square']"></font-awesome-icon>
			</span>
			<h3>
				Manager for Reddit
			</h3>
			<span class="right-items">
				<a
					:href="'https://www.reddit.com/user/' + username"
					target="_blank"
					class="username"
					style="margin-right: 15px"
					v-if="username"
				>
					<font-awesome-icon icon="user-circle"></font-awesome-icon>
					{{ username }}
				</a>
				<el-tooltip
					content="Countdown to Reddit Token expiry"
					v-if="authorized && timeToExpiryString"
				>
					<el-button :type="countdownButtonType" plain size="small">
						<font-awesome-icon icon="stopwatch"></font-awesome-icon>
						{{ timeToExpiryString }}
					</el-button>
				</el-tooltip>
				<el-tooltip
					content="Re-authorize your account to vote, save and hide your posts"
					v-if="!authorized && loadedSaved"
				>
					<el-button type="primary" size="small">
						Login Again
					</el-button>
				</el-tooltip>
			</span>
		</div>
	</el-header>
</template>

<script>
import { mapGetters } from 'vuex';
import distanceInWordsStrict from 'date-fns/distance_in_words_strict';

export default {
	name: 'Header',
	data() {
		return {
			timeToExpiryString: '',
			countdownButtonType: '',
			tokenExpiryInterval: null
		};
	},
	computed: {
		...mapGetters([
			'username',
			'loadingSaved',
			'loadedSaved',
			'authorized',
			'redirectUrl',
			'filteredSavedList',
			'authExpireTime'
		])
	},
	beforeCreate() {
		this.$store.dispatch('checkAlreadyAuthorized').then(() => {
			this.tokenExpiryInterval = setInterval(this.setTokenExpiryCounter, 1000);
		});
	},
	methods: {
		setTokenExpiryCounter() {
			if (this.authExpireTime) {
				const countdown = (new Date(this.authExpireTime) - Date.now()) / 1000;
				if (countdown < 0) {
					clearInterval(this.tokenExpiryInterval);

					this.timeToExpiryString = '';
				} else {
					this.timeToExpiryString = distanceInWordsStrict(
						new Date(this.authExpireTime),
						Date.now()
					);
					this.countdownButtonType = 'info';
					if (countdown < 300) {
						this.countdownButtonType = 'warning';
					}
					if (countdown < 60) {
						this.countdownButtonType = 'danger';
					}
				}
			} else {
				this.timeToExpiryString = '';
			}
		}
	}
};
</script>

<style scoped>
.header-container {
	padding-right: 0;
	padding-left: 0;
}
.header-content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
	height: 60px;
	padding: 0 20px;

	color: #fff;
	background-color: #458142;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.08),
		0 0 8px rgba(0, 0, 0, 0.04);
}
.header-content .branding {
	font-size: 30px;

	margin-right: 10px;
}
.header-content .right-items {
	margin-left: auto;
}
.header-content a.username {
	text-decoration: none;

	color: #fff;
}
.header-content a.username:hover {
	text-decoration: underline;
}
</style>
