<template>
	<el-container class="container">
		<Header />
		<el-main class="main-container">
			<el-row type="flex" class="row-bg" justify="center">
				<div class="main-content">
					<div class="authorize-link" v-if="!authorized && !loadedSaved">
						<div class="authorize-link__help-text">
							To use this site, you need to give limited access to your reddit
							account to load your data
						</div>
						<a :href="redirectUrl" class="el-button el-button--primary">
							<font-awesome-icon
								:icon="['fab', 'reddit-alien']"
							></font-awesome-icon>
							Authorize app
						</a>
					</div>
					<router-view />
				</div>
			</el-row>
		</el-main>
		<el-footer class="footer-container">
			<div class="footer-links">
				<a href="mailto:ani.22691@gmail.com">
					<font-awesome-icon icon="envelope-open-text"></font-awesome-icon>
				</a>
				<a href="https://gitlab.com/aniforprez" target="_blank">
					<font-awesome-icon :icon="['fab', 'gitlab']"></font-awesome-icon>
				</a>
				<a href="https://github.com/aniforprez" target="_blank">
					<font-awesome-icon :icon="['fab', 'github-alt']"></font-awesome-icon>
				</a>
				<a href="https://twitter.com/aniforprez" target="_blank">
					<font-awesome-icon :icon="['fab', 'twitter']"></font-awesome-icon>
				</a>
				<a
					href="https://www.linkedin.com/in/anirudh-sylendranath-55989239/"
					target="_blank"
				>
					<font-awesome-icon :icon="['fab', 'linkedin-in']"></font-awesome-icon>
				</a>
			</div>
			<div class="footer-message">
				Made with love <br />
				by @aniforprez
			</div>
		</el-footer>
		<div
			class="loading-container"
			v-if="loadingSaved"
			v-loading="loadingSaved"
			:element-loading-text="
				filteredSavedList.length > 0
					? `Loaded ${filteredSavedList.length} items`
					: 'Loading saved items from Reddit...'
			"
		></div>
	</el-container>
</template>

<script>
import { mapGetters } from 'vuex';

import Header from './components/Header';

export default {
	name: 'app',
	computed: {
		...mapGetters([
			'loadingSaved',
			'loadedSaved',
			'authorized',
			'redirectUrl',
			'filteredSavedList'
		])
	},
	components: { Header }
};
</script>

<style>
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	height: 100%;
	margin: 0;
	padding: 0;

	background-color: #f9fafc;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	position: relative;

	min-height: 100vh;

	color: #2c3e50;
}

.main-container {
	padding-bottom: 60px;
}
.main-content {
	width: 100%;
	max-width: 900px;
	margin-bottom: 30px;
}

.footer-container {
	position: absolute;
	bottom: 0;

	display: flex;
	align-items: center;

	width: 100%;
	height: 60px;
	padding-right: 0;
	padding-left: 0;

	background: rgb(233, 233, 235);
}
.footer-links {
	font-size: 25px;

	padding-left: 25px;
}
.footer-links a {
	margin-right: 15px;

	color: #788692;
}
.footer-links a:hover {
	color: #409eff;
}
.footer-message {
	font-size: 12px;

	margin-left: auto;
	padding-right: 15px;

	text-align: right;

	color: #788692;
}

.loading-container {
	position: fixed;
	z-index: 5;

	width: 100%;
	height: 100%;
}

.authorize-link {
	margin-top: 30px;

	text-align: center;
}
.authorize-link__help-text {
	padding: 10px;
}
.authorize-link a {
	font-size: 20px;

	text-decoration: none;
}
</style>
